In [1]:
import pandas as pd

In [2]:
df = pd.read_table('SMSSpamCollection', sep='\t', header = None, names = ['label', 'message'])

In [3]:
df.head()

  label                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
df['label'] = df.label.map({'ham' : 0, 'spam' : 1})
df.head()

   label                                            message
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
X_train, X_test, y_train, y_test = train_test_split(df['message'], df['label'], random_state = 1)

In [7]:
print("Original Dataset Contains", df.shape[0], "messages")

Original Dataset Contains 5572 messages

In [8]:
print("Training set Contains", X_train.shape[0], "messages")

Training set Contains 4179 messages

In [9]:
print("Testing set Contains", X_test.shape[0], "messages")

Testing set Contains 1393 messages

In [10]:
from sklearn.feature_extraction.text import CountVectorizer

In [11]:
count_vector = CountVectorizer()

In [12]:
train = count_vector.fit_transform(X_train)
train

<4179x7456 sparse matrix of type '<class 'numpy.int64'>'
	with 55209 stored elements in Compressed Sparse Row format>

In [13]:
test = count_vector.transform(X_test)
test

<1393x7456 sparse matrix of type '<class 'numpy.int64'>'
	with 17604 stored elements in Compressed Sparse Row format>

In [14]:
from sklearn.naive_bayes import MultinomialNB

In [15]:
naive_bayes = MultinomialNB()

In [16]:
naive_bayes.fit(train, y_train)

MultinomialNB()

In [17]:
import numpy as np

predictions = naive_bayes.predict(test)

In [18]:
print(np.mean(predictions == y_test))

0.9885139985642498

In [21]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test, predictions))

[[1203    5]
 [  11  174]]