In [88]:
import pandas as pd

In [108]:
df = pd.read_table('SportPoliticalNews', sep='\t', header = None, names = ['label', 'news'])

In [109]:
df.head()

       label                                               news
0  political  Fakhrul urged the government to step down imme...
1  political  Nayapaltan will witness a human sea on Thursda...
2  political  Welcoming the new political platform bringing ...
3  political  All Ganatantra Mancha leaders are unimportant ...
4  political  Quader: BNP’s threat to resist polls will not ...

In [110]:
df['label'] = df.label.map({'political' : 0, 'sports' : 1})
df.head()

   label                                               news
0      0  Fakhrul urged the government to step down imme...
1      0  Nayapaltan will witness a human sea on Thursda...
2      0  Welcoming the new political platform bringing ...
3      0  All Ganatantra Mancha leaders are unimportant ...
4      0  Quader: BNP’s threat to resist polls will not ...

In [111]:
from sklearn.model_selection import train_test_split

In [112]:
X_train, X_test, y_train, y_test = train_test_split(df['news'], df['label'], test_size=0.1, random_state = 1)

In [113]:
print("Original Dataset Contains", df.shape[0], "news")

Original Dataset Contains 50 news

In [114]:
print("Training set Contains", X_train.shape[0], "news")

Training set Contains 45 news

In [115]:
print("Testing set Contains", X_test.shape[0], "news")

Testing set Contains 5 news

In [116]:
from sklearn.feature_extraction.text import CountVectorizer

In [117]:
count_vector = CountVectorizer()

In [118]:
train = count_vector.fit_transform(X_train)
train

<45x301 sparse matrix of type '<class 'numpy.int64'>'
	with 452 stored elements in Compressed Sparse Row format>

In [119]:
test = count_vector.transform(X_test)
test

<5x301 sparse matrix of type '<class 'numpy.int64'>'
	with 18 stored elements in Compressed Sparse Row format>

In [120]:
from sklearn.naive_bayes import MultinomialNB

In [121]:
naive_bayes = MultinomialNB()

In [122]:
naive_bayes.fit(train, y_train)

MultinomialNB()

In [123]:
import numpy as np

predictions = naive_bayes.predict(test)

In [124]:
print(np.mean(predictions == y_test))

0.6

In [125]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test, predictions))

[[2 0]
 [2 1]]

In [137]:
naive_bayes.predict(count_vector.transform(['The Wyoming Republican is likely to lose in Tuesdays GOP primary. Perhaps more importantly, shes also now sharing the spotlight with a Justice Department investigation.']))

array([0], dtype=int64)